<!-- ======= Our Products Section ======= -->
    <section id="products" class="portfolio section-bg">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="section-title">
          <h2>Our Products</h2>
          <p>Badger is a global leader in heavy equipment, engines, parts and service. For over 100 years we’ve supplied the industry with the most trusted, reliable and enduring products money can buy. That’s why we’re the top selling brand in the industry. There is no job too tough for a Badger.</p>
        </div>

        <% include ./productFilter %>


        <div class="row portfolio-container">
            <% products.forEach(function(product) { %>                                            
              <div class="col-lg-4 col-md-6 portfolio-item filter-<%= product.categoryname.replace(/\s/g, '')%>">
              <div class="portfolio-wrap">
               
                  <img src="<%=product.img%>" class="img-fluid" alt="" style="height:350p">                
              
                <div class="portfolio-info">
                  <h4><%= product.name %></h4>
                  <p><%= product.longdescription %></p>
                  <p>$<%= product.price %></p>
                  <div class="portfolio-links">
                    <a href="<%=product.img%>" data-gall="portfolioGallery" class="venobox" title="Axle"><i class="icofont-eye"></i></a>
                    <a id="Link_Product_<%= product.name.replace(/[\W_]+/g, '') %>" caption="Interest in <%= product.name %>" href="/productDetail/<%= product.id %>" title="More Details"><i class="icofont-external-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>                     


        </div>            
      </div>       
    </section><!-- End Our Portfolio Section --></section>