<div class="row">
    <div class="col-lg-12">
      <ul id="portfolio-flters">
        <li data-filter="*" class="filter-active">All</li>
        <% categories.forEach(function(category) { %>                            
              <li id="filterItem_<%= category.name.replace(/\s/g, '') %>" data-filter=".filter-<%= category.name.replace(/\s/g, '') %>">
                <a class="productFilter" caption="Interest In <%= category.name %>" id="Link_Filter_<%= category.name.replace(/\s/g, '') %>" ><%= category.name %></a>
              </li>                    
        <% }); %>  
        <!--
        <li id="InterestDriveTrain" data-filter=".filter-drivetrain">Drive Train</li>
        <li id="InterestEngineParts"data-filter=".filter-engineparts">Engine Parts</li>
        <li id="InterestNewItems"data-filter=".filter-new">Filters</li>
        <li id="InterestNewItems"data-filter=".filter-new">Hydraulics</li>
        <li id="InterestNewItems"data-filter=".filter-new">Seals</li>
        -->
      </ul>
    </div>
  </div>