<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %> 
      
      </head>
<body>
<%= JSON.stringify(categories) %>
<!-- ======= Header ======= -->
<header id="header">
    <div class="logo float-left" style="background-color: #ffffff; padding: 5px; position:relative; top: -10px;">    
      <a href="/"><img src="/images/logos/Badger-Equipment-primary-logo-color.png" alt="" class="img-fluid"></a>
    </div>
    <div class="container">      
      <nav class="nav-menu float-left d-none d-lg-block">
        <ul>
          <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a caption="Interest In About Us" id="LinkAboutUs" href="#about">About Us</a></li>          
          <li class="drop-down"><a caption="Interest in Products" id="LinkProducts" href="#products">Products</a>
            <ul id="productMenu">
            <% categories.forEach(function(category) { %>        
                <% if(category.parent === ""){ %>
                    <li class="drop-down" id="menuItem_<%= category.name.replace(/\s/g, '') %>" data-filter=".filter-<%= //category.name.replace(/\s/g, '') %>">
                        <a caption="Interest In <%= category.name %>" id="Link_Menu_<%= category.name.replace(/\s/g, '') %>" href="<%= //pageURLref %>#products"><%= category.name %> </a>
                        <ul id="menuItemList_<%= category.name.replace(/\s/g, '') %>">
                        <% categories.forEach(function(child) { %> 
                            <% if(child.parent === category.id){ %>
                                <li id="menuItem_<%= child.name.replace(/\s/g, '') %>" data-filter=".filter-<%= //category.name.replace(/\s/g, '') %>">
                                    <a caption="Interest In <%= child.name %>" id="Link_Menu_<%= child.name.replace(/\s/g, '') %>" href="<%= //pageURLref %>#products"><%= child.name %> </a>
                                </li>
                            <%}%>                    
                        <%});%>  
                </ul>
              </li>                                    
                <%} %>  
            <% }); %>  
            </ul>
          </li>
          <li><a caption="Interest In Services" id="LinkServices" href="#services">Services</a></li>          
          <li><a caption="Interest In Our Team" id="LinkTeam" href="#team">Our Team</a></li>        
          <li><a caption="Interest In Contact Us" id="Contact" href="#contact">Contact Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->













    <div class="row mb-3">
        <div class="col-md-4 themed-grid-col"></div>
        <div class="col-md-4 themed-grid-col">
            <form action="/product/upload" method="POST" enctype="multipart/form-data"> 
            
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" name="productName" id="productName" placeholder="Product Name">
            </div>
            <div class="form-group">            
                <label for="productCategory">Product Category</label>
                <select class="custom-select mr-sm-2" name="productCategory" id="productCategory">
                    <option selected>Select a Category</option>
                    
                </select>
            </div>        
            <div class="form-group">
                <label for="productSubCategory">Product Sub Category</label>
                <select class="custom-select mr-sm-2" name="productSubCategory" id="productSubCategory">
                    <option selected>Select a Sub Category</option>                                                
                  </select>
            </div>        
            <div class="form-group">
                <label for="productDescription">Product Description</label>
                <input type="text" class="form-control" name="productDescription" id="productDescription" placeholder="Product Description">
            </div>
            <div class="form-group">
                <label for="productPrice">Product Price</label>
                <input type="text" class="form-control" name="productPrice" id="productPrice" placeholder="Product Price">
            </div>
            <div class="form-group">
                <label for="productImage">Image</label>
                <input type="file" class="form-control-file" name="productImage" id="productImage" placeholder="Product Image">            
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form></div>
        <div class="col-md-4 themed-grid-col"></div>
    </div>    
    
    
    
    <div class="container">
        <% products.forEach(function(product) { %> 
        <div class="row" style="border: solid 1px #000000;">
          <div class="col-sm">
            <img style="width:200px;" src="<%= product.img %>">          
        </div>
        
        <div class="col-sm">
            <p><span style="font-weight: bold; width:150px;">ID: </span><%= product.id %></p> 
            <p><span style="font-weight: bold; width:150px;">Name: </span><%= product.name %></p> 
            <p><span style="font-weight: bold; width:150px;">Long Desc: </span><%= product.longdescription %></p> 
            <p><span style="font-weight: bold; width:150px;">Short Desc: </span><%= product.shortdescription %></p> 
            <p><span style="font-weight: bold; width:150px;">Cat Name: </span><%= product.categoryname %></p> 
            <p><span style="font-weight: bold; width:150px;">Parent Cat: </span><%= product.parentcategory %></p> 
            <p><span style="font-weight: bold; width:150px;">Price List: </span><%= product.pricelistname %></p> 
            <p><span style="font-weight: bold; width:150px;">Price: </span><%= product.price %></p> 
          </div>          
        </div>
        <% }) %> 
      </div>

</body> 
</html>